@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: arial;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container-p {
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);
}

.none {
  display: none;
}

.box-top {
  display: grid;
  grid-template-columns: 1fr 615px auto;
  justify-items: end;
  align-items: center;
  height: 67px;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .box-top {
    grid-template-columns: auto 1fr;
  }
}
@media screen and (max-width: 820px) {
  .box-top {
    grid-template-columns: 1fr;
  }
}
.box-top__logo {
  text-align: right;
}
@media screen and (max-width: 1100px) {
  .box-top__logo {
    display: none;
  }
}
.box-top__img-logo {
  width: 186px;
}
.box-top__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.box-top .menu {
  height: 67px;
  display: block;
  padding: 0px;
}
@media screen and (max-width: 820px) {
  .box-top .menu {
    display: none;
  }
}
.box-top .menu__list {
  float: left;
  overflow: hidden;
  position: relative;
  border-right: 1px #efefef solid;
  line-height: 67px;
  text-align: center;
}
.box-top .menu__link {
  position: relative;
  display: block;
  width: 74px;
  height: 67px;
  white-space: nowrap;
  font-size: 9px;
  text-decoration: none;
  cursor: pointer;
  color: #515151;
}
.box-top .menu__box-right {
  width: 286px;
  background-color: rgb(0, 74, 84);
}
@media screen and (max-width: 1100px) {
  .box-top .menu__box-right {
    width: 100%;
  }
}
.box-top .menu__box-lang {
  display: flex;
  max-width: 150px;
  padding: 17px 17px 17px 52px;
  background-image: url(./../img/map.png);
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  justify-content: space-between;
}
.box-top .menu__box-link {
  padding: 10px 0px;
  font-size: 10px;
  line-height: 1.34em;
  font-family: "arial";
  text-decoration: none !important;
  color: #FFFFFF;
  transition: color 0.3s ease;
}
.box-top .menu__box-link:hover {
  color: #f28204;
}
.box-top .menu__box-vertical {
  padding: 10px 0px;
  font-size: 10px;
  position: relative;
  color: #FFFFFF;
}
.box-top .menu__right {
  max-width: 156px;
}
.box-top .span {
  position: absolute;
  left: 0;
  width: 74px;
  transition: all 0.5s;
}
.box-top .out {
  top: 0px;
}
.box-top .over {
  color: #fff;
  background-color: #f28204;
  top: -67px;
}
.box-top .nav-icon-btn {
  position: absolute;
  display: none;
  z-index: 11;
  top: 20px;
  right: 20px;
}
@media screen and (max-width: 820px) {
  .box-top .nav-icon-btn {
    display: block;
  }
}

.nav-icon {
  display: block;
}

.po-pup__menu {
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);
  display: block;
  position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  z-index: 9;
}
.po-pup__menu_mobile {
  display: none;
  padding: 30px;
}
.po-pup__items {
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 30px;
  background-color: rgb(22, 22, 22);
  align-items: center;
  height: 432px;
  opacity: 0.8;
}
.po-pup__link {
  padding: 10px;
  color: #fff;
  transition: color 0.3s ease;
}
.po-pup__link:hover {
  color: #ffae53;
}

.header {
  /* Высота «шапки» должна быть статичной и занимать столько места сколько ей нужно*/
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.page-box {
  position: relative;
  min-height: 430px;
}
.page-box__list {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.page-box .single-slide1,
.page-box .single-slide2 {
  display: block;
  max-width: 1280px;
  height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.8s;
}
.page-box .single-slide1 {
  background-image: url(./../img/Banner_1.jpg);
  background-color: #f3f3f3;
}
@media screen and (max-width: 820px) {
  .page-box .single-slide1 {
    background-position: 59% 50%;
  }
}
.page-box .single-slide2 {
  background-image: url(./../img/Banner_2.jpg);
}
@media screen and (max-width: 820px) {
  .page-box .single-slide2 {
    background-position: 70% 50%;
  }
}
.page-box .img_show {
  opacity: 1;
}
.page-box .img_none {
  opacity: 0;
}
.page-box .cir-box {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 20px;
}
.page-box .cir-box__li-left, .page-box .cir-box__li-right {
  border: none;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.page-box .cir-box__li-right {
  background: #de000d;
}
.page-box .cir-box .off-color {
  background: #ffffff;
}
.page-box .cir-box .on-color {
  background: #de000d;
}
.page-box__btn_left {
  left: 0px;
}
.page-box__btn_left:hover {
  opacity: 1;
}
.page-box__btn {
  position: absolute;
  top: 42%;
  padding: 14px 7px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.498039);
  cursor: pointer;
  font-family: "宋体";
  display: block;
  z-index: 2;
  transition: opacity 0.3s ease;
  opacity: 0.5;
}
.page-box__btn_right {
  right: 0px;
}
.page-box__btn_right:hover {
  opacity: 1;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon_active {
  background-color: transparent;
}

.nav-icon.nav-icon_active::before,
.nav-icon.nav-icon_active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon_active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon_active::after {
  transform: rotate(-45deg);
}

.header .header {
  /* Высота «шапки» должна быть статичной и занимать столько места сколько ей нужно*/
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.page-box1 {
  padding-top: 88px;
  position: relative;
  height: 242px;
  max-width: 1280px;
  margin: 0px auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-image: url(./../img/cqban4.jpg);
}
.page-box1__header {
  font-size: 20px;
  line-height: 1.5em;
  color: #ffffff;
  font-family: "arial";
}
.page-box1__line {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 1px;
  background-color: #FFFFFF;
}
.page-box1__text {
  font-family: arial, helvetica, sans-serif;
  color: #ffffff;
  font-size: 9.5px;
  line-height: 1.75em;
  word-break: break-word;
}

.news-main {
  flex: 1 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.news-box1 {
  padding-left: calc(50% - 375px);
  padding-right: calc(50% - 375px);
  padding-top: 14px;
  padding-bottom: 16px;
}
.news-box1__text-home {
  display: inline-block;
  font-size: 9.5px;
  color: #666;
  height: 30px;
  line-height: 30px;
}
.news-box1__link-home {
  padding-left: 15px;
  color: rgb(242, 130, 4);
  text-decoration: none;
  background-image: url(./../img/home.png);
  background-size: 9.5px;
  background-repeat: no-repeat;
  background-position: top left;
}
.news-box1__link-home:hover {
  text-decoration: underline;
}
.news-box1__menu {
  overflow: hidden;
  padding-left: calc(50% - 400px);
  padding-right: calc(50% - 400px);
  margin-bottom: 30px;
}
.news-box1__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 420px;
}
@media screen and (max-width: 400px) {
  .news-box1__buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0px;
    row-gap: 5px;
  }
}
.news-box1__list1, .news-box1__list2, .news-box1__list3 {
  line-height: 28px;
  border: 1px none rgba(228, 228, 228, 0);
}
@media screen and (max-width: 400px) {
  .news-box1__list1, .news-box1__list2, .news-box1__list3 {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .news-box1__list4 {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 400px) {
  .news-box1__list2 {
    grid-row: 2/3;
  }
}
@media screen and (max-width: 400px) {
  .news-box1__list3 {
    grid-row: 3/4;
  }
}
.news-box1__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 9.5px;
  padding: 9px 25px;
  border-radius: 4px;
  background-color: #004a54;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 400px) {
  .news-box1__link {
    display: inline-block;
    line-height: 20px;
    width: 100%;
    text-align: center;
  }
}
.news-box1__link:hover {
  background-color: rgb(242, 130, 4);
}

.news-line {
  height: 1px;
  background-color: rgb(239, 239, 239);
}

.news {
  position: relative;
  padding-left: calc(50% - 370px);
  padding-right: calc(50% - 430px);
  min-height: 400px;
  overflow: hidden;
}
.news__box {
  height: 100%;
  padding-right: 8px;
}
@media screen and (max-width: 400px) {
  .news__box {
    padding-right: 0;
  }
}
.news__items {
  padding-top: 14px;
}
.news__list {
  margin-bottom: 14px;
  background: #f7f7f7;
  max-width: 800px;
  border: 1px solid transparent;
  line-height: 1;
  transition: box-shadow 0.3s ease;
}
.news__link {
  text-decoration: none;
  font-size: 11px;
  color: #717171;
}
.news__content-box {
  display: grid;
  grid-template-columns: minmax(0px, 156px) 1fr 130px;
}
@media screen and (max-width: 650px) {
  .news__content-box {
    grid-template-columns: minmax(0px, 156px) 1fr;
  }
}
.news__content {
  margin-top: 26px;
  padding: 0 10px;
}
@media screen and (max-width: 650px) {
  .news__content {
    padding-left: 10px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.news__image {
  box-sizing: content-box;
  border: 10px solid transparent;
  width: 133px;
  height: 86px;
  transition: border-color 0.3s ease;
}
@media screen and (max-width: 400px) {
  .news__image {
    border: 8px solid transparent;
    width: 120px;
    height: 78px;
  }
}
.news__text {
  text-align: left;
  margin-bottom: 18px;
  font-size: 11px;
}
.news__text_min {
  font-size: 8.5px;
  line-height: 16px;
}
.news__data-box {
  padding-left: 10px;
  transition: padding-left 0.3s ease;
}
@media screen and (max-width: 650px) {
  .news__data-box {
    grid-column: 2/3;
  }
}
.news__data {
  padding-top: 26px;
  padding-bottom: 26px;
  color: #999;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: 114px;
}
@media screen and (max-width: 650px) {
  .news__data {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.news__button {
  max-width: 90px;
  border: 1px solid #ccc;
  display: block;
  font-size: 8px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  line-height: 20px;
  color: #ccc;
  transition: all 0.3s;
}
.news__list:hover {
  border: 1px solid #efefef;
  box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.08);
}
.news__list:hover .news__image {
  border-color: #ccc;
}
.news__list:hover .news__button {
  color: #ffffff;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.footer {
  overflow: hidden;
  height: 290px;
  background: #006677;
  flex: 0 0 auto;
}
@media screen and (max-width: 820px) {
  .footer {
    height: auto;
  }
}
.footer__box {
  display: grid;
  grid-template-columns: 216px 152px 122px 130px 1fr;
  padding-top: 34px;
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 68px;
}
@media screen and (max-width: 820px) {
  .footer__box {
    padding: 34px 15px 34px;
  }
}
@media screen and (max-width: 650px) {
  .footer__box {
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
.footer__item1 {
  grid-column: 1/2;
}
.footer__item2 {
  padding-left: 58px;
}
.footer__item3 {
  padding-left: 36px;
}
.footer__item4 {
  padding-left: 34px;
}
.footer__item5 {
  padding-left: 53px;
  background-image: url(./../img/ma1.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: top 38px right 10px;
}
@media screen and (max-width: 820px) {
  .footer__item5 {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .footer__item1, .footer__item2, .footer__item3, .footer__item4 {
    padding-left: 20px;
  }
}
.footer__item-header {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1.75em;
  word-break: break-word;
  font-family: "arial";
}
.footer__item-header1 {
  padding-top: 10px;
  font-size: 12px;
  color: #FFFFFF;
  word-break: break-word;
  font-family: "arial";
}
.footer__item-content1, .footer__item-content2, .footer__item-content3, .footer__item-content4 {
  padding-top: 14px;
  border-right: 1px solid #4f6279;
  min-height: 120px;
}
@media screen and (max-width: 820px) {
  .footer__item-content1, .footer__item-content2, .footer__item-content3, .footer__item-content4 {
    padding-right: 20px;
    min-height: auto;
  }
}
@media screen and (max-width: 650px) {
  .footer__item-content2, .footer__item-content4 {
    border: none;
  }
}
.footer__item-text {
  font-family: arial, helvetica, sans-serif;
  line-height: 2.1;
  font-size: 9.5px;
  color: #F0F8FF;
}
.footer__item-text1 {
  font-family: arial, helvetica, sans-serif;
  line-height: 1.75;
  font-size: 9.5px;
  color: #F0F8FF;
}
.footer__item-center {
  padding-left: 14px;
}
.footer__item-link {
  color: #F0F8FF;
  padding: 3px 0;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__item-link:hover {
  color: rgb(242, 130, 4);
}
.footer__years {
  background-color: #000;
  padding: 9px;
}
.footer__year {
  position: relative;
}
.footer__text {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #B8B8B8;
}/*# sourceMappingURL=news.css.map */