.header {
    /* Высота «шапки» должна быть статичной и занимать столько места сколько ей нужно*/
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

.mySwiper {
    height: 600px;

    .single-slide1,
    .single-slide2 {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .single-slide1 {
        background-image: url(./../img/banner_1.webp);
        background-color: #f3f3f3;

        @include mediaTablet {
            background-position: 56.5% 50%;
        }
    }

    .single-slide2 {
        background-image: url(./../img/banner_2.webp);

        @include mediaTablet {
            background-position: 67% 50%;
        }
    }

   .swiper-pagination {
    bottom: 20px;
   }

   .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #000;
    opacity: 0.2;

    &-active {
        background: #004a54;
        opacity: 1;
    }
   }
}