.box-top {
    display: grid;
    grid-template-columns: 1fr 615px auto;
    justify-items: end;
    align-items: center;
    height: 67px;
    max-width: 1280px;
    margin: 0 auto;

    @include mediaDesktop {
        grid-template-columns: auto 1fr;
    }

    @include mediaTablet {
        grid-template-columns: 1fr;
    }

    &__logo {
        text-align: right;

        @include mediaDesktop {
            display: none;
        }
    }

    &__img-logo {
        width: 186px;
    }

    &__nav {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu {
        height: 67px;
        display: block;
        padding: 0px;

        @include mediaTablet {
            display: none;
        }

        &__list {
            float: left;
            overflow: hidden;
            position: relative;
            border-right: 1px #efefef solid;
            line-height: 67px;
            text-align: center;
        }

        &__link {
            position: relative;
            display: block;
            width: 74px;
            height: 67px;
            white-space: nowrap;
            font-size: 9px;
            text-decoration: none;
            cursor: pointer;
            color: #515151;
        }

        &__box-right {
            width: 286px;
            background-color: rgba(0, 74, 84, 1);

            @include mediaDesktop {
                width: 100%;
            }
        }

        &__box-lang {
            display: flex;
            max-width: 150px;
            padding: 17px 17px 17px 52px;
            background-image: url(./../img/map.png);
            background-size: 19px;
            background-repeat: no-repeat;
            background-position: 20px 50%;
            justify-content: space-between;
        }

        &__box-link {
            padding: 10px 0px;
            font-size: 10px;
            line-height: 1.34em;
            font-family: "arial";
            text-decoration: none !important;
            color: #FFFFFF;
            transition: color 0.3s ease;
        }

        &__box-link:hover {
            color: #f28204;
        }

        &__box-vertical {
            padding: 10px 0px;
            font-size: 10px;
            position: relative;
            color: #FFFFFF;
        }

        &__right {
            max-width: 156px;
        }
    }

    .span {
        position: absolute;
        left: 0;
        width: 74px;
        transition: all 0.5s;
    }

    .out {
        top: 0px;
    }

    .over {
        color: #fff;
        background-color: #f28204;
        top: -67px;
    }



    .nav-icon-btn {
        position: absolute;
        display: none;
        z-index: 11;
        top: 20px;
        right: 20px;

        @include mediaTablet {
            display: block;
        }
    }
}

.nav-icon {
    display: block;
}

.po-pup {
    &__menu {
        padding-left: calc(50% - 1280px / 2);
        padding-right: calc(50% - 1280px / 2);
        display: block;
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        z-index: 9;
    }

    &__menu_mobile {
        display: none;
        padding: 30px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        padding: 30px;
        row-gap: 30px;
        background-color: rgb(22, 22, 22);
        align-items: center;
        height: 432px;
        opacity: 0.8;
    }

    &__link {
        padding: 10px;
        color: #fff;
        transition: color 0.3s ease;
    }

    &__link:hover {
        color: #ffae53;
    }
}