.messages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    margin: 40px auto 0;
    max-width: 1280px;
    height: 160px;

    @include mediaTablet {
        height: 120px;   
    }

    @include mediaTabletMode {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px;
        height: auto;
    }

    &__image {
        background-image: url(./../img/mes.jpg);
        background-color: #f3f3f3;
        background-position: center center; //x y
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__box-right {
        padding: 44px 50px;
        grid-column: 2/3;
        background: #ef4d00;

        @include mediaTablet {
            padding: 26px 50px; 
        } 


        @include mediaTabletMode {
            grid-column: 1/2;
            grid-row: 2/3;
            padding: 16px 50px;
            text-align: center;
        }
    }

    &__header {
        color: #ffffff;
        font-size: 18px;
        font-family: georgia, serif;
        font-weight: 600;

        @include mediaTabletMode {
            font-size: 14px;     
    }

    }

    &__button {
        background-color: rgba(242, 130, 4, 1);
        padding: 8px 10px;
        margin-top: 24px;
        display: block;
        text-decoration: none !important;
        max-width: 90px;
        text-align: center;
        border: 1px solid rgba(242, 130, 4, 1);
        font-size: 9.5px;
        color: rgb(255, 255, 255);
        border-radius: 30px;
        transition: background-color 0.3s ease,
        border-color 0.3s ease;
        
        @include mediaTabletMode {
            margin: 20px auto 0;  
    }
}

    &__button:hover {
        border: 1px solid #02217b;
        background-color: #02217b;
    }
}